{% extends 'admin_pages/admin_access.html' %}

{% block title %} 
Login
{% endblock title %}

{% block content %}
  <div class="bg-blue-400 h-screen w-screen flex flex-col items-center justify-center">
    
    <div class="bg-white w-10/12 md:w-6/12 flex flex-col items-center justify-center py-6">
      <p class="font-bold text-2xl text-gray-700">Admin Login</p>

      <form class="" method="POST" action="">
        {% csrf_token %}
        <div class="flex flex-col mt-4">
          <label class="sr-only" for"username">Username</label>
          <input id="username" name="username" class="bg-gray-100 mt-2 border border-gray-600 rounded-lg py-2 px-4 w-full" placeholder="Username">
        </div>
        <div class="flex flex-col">
          <label class="sr-only" for"password">Password</label>
          <input id="password" name="password" type="password" class="bg-gray-100 mt-2 border border-gray-600 rounded-lg py-2 px-4 w-full" placeholder="Password">
        </div>

        <button type="submit" class="border border-white bg-gray-600 text-gray-100 rounded-lg py-2 px-4 w-full mt-6">Login</button>
      </form>

    </div>

  </div>
{% endblock content %}

